In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("./data.csv")

In [4]:
data.head()

,no,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [5]:
users=pd.DataFrame()

In [6]:
numerical_features=['bpm','nrgy','dnce','dB','live','val','dur','acous','spch','pop']

In [8]:
for x in numerical_features:
    range=data[x].max()-data[x].min()
    data[x]=data[x].apply(lambda y: ((y-data[x].min())*5)/(range))

In [10]:
arr=["Hey, Soul Sister","Love The Way You Lie","Bad Romance"]
selected=data[data.title.isin(arr)]

In [11]:
selected

,no,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,2.354369,4.540816,3.453608,4.827586,0.540541,4.081633,1.431034,0.959596,0.416667,4.191919
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,2.111650,4.744898,3.865979,4.741379,3.513514,3.265306,2.224138,1.212121,2.395833,4.141414
3,4,Bad Romance,Lady Gaga,dance pop,2010,2.888350,4.693878,3.608247,4.827586,0.540541,3.622449,2.775862,0.000000,0.416667,3.989899

In [12]:
from sklearn import datasets

In [15]:
dataset = datasets.load_iris()

%store data

Stored 'data' (DataFrame)

In [16]:
%store -r data

SyntaxError: invalid syntax (2668727894.py, line 1)